<title><%= title %></title>

<%= stylesheet_link_tag "pdfjs_viewer/application", media: "all" %>

<!-- This snippet is used in production (included from viewer.html) -->
<link rel="resource" type="application/l10n" href="/pdfjs/web/locale/locale.properties"/>

<script type="text/javascript">
  // Do not fail when old code in _extra_head uses PDFJS
  window.PDFJS = {};

  document.addEventListener('webviewerloaded', function () {
    let options = window.PDFViewerApplicationOptions;

    <% if local_assigns[:pdf_url] %>
    options.set('defaultUrl', '<%= j pdf_url %>');
    <% end %>

    options.set('verbosity', pdfjsLib.VerbosityLevel['<%= ENV.fetch('PDFJS_VIEWER_VERBOSITY', 'ERRORS').upcase %>']);
    options.set('externalLinkTarget', pdfjsLib.LinkTarget.BLANK);
    options.set('workerSrc', '/pdfjs/web/pdf.worker.js?version=<% PdfjsViewer::Rails::VERSION %>');
    options.set('imageResourcesPath', '/pdfjs/web/images/');
    options.set('cMapUrl', '/pdfjs/web/cmaps/');

    // Fallback to en-US
    if (options.get('locale') === 'en') {
      options.set('locale', 'en-US');
    }

    <%= render 'on_load.js', local_assigns %>
  });
</script>

<%= javascript_include_tag "pdfjs_viewer/application" %>
